<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gmall.product.mapper.SkuSaleAttrValueMapper">
    <select id="selectSaleAttrKeyValueBySpuId" resultType="java.util.Map">
        SELECT
            t1.sku_id,
            GROUP_CONCAT( DISTINCT sale_attr_value_id SEPARATOR '|' ) AS address
        FROM
            sku_sale_attr_value t1
                LEFT JOIN spu_sale_attr_value t2 ON t1.sale_attr_value_id = t2.id
        WHERE
            t1.sku_id = #{skuId}
    </select>
</mapper>